<div class="container">
  <div class="row">
    <h3 class="center-align card white"> <%= @game.title %> </h3>
    <div class="col s8 push-s2">
      <%= image_tag @game.avatar, class: "responsive-img card-panel" %>
    </div>
  </div>
  <div class="row">
    <h3 class="center-align card white">Characters <small></small></h3>
    <% characters_in_game(@game).each do |character| %>
      <div class="col s4">
        <%= link_to("/games/#{@game.title}/characters/#{character.name}") do %>
        <h3 class="center-align card black"> <%= character.name %> </h3>
        <% end %>
        <%= image_tag character.avatar.url, size: "320x426", class: "responsive-img" %>
      </div>
    <% end %>
  </div>
</div>
