<div class="container">
  <div class="row">
    <h1 class="center-align"> <%= @game.title %> </h1>
    <div class="col s8 push-s2">
      <%= image_tag @game.avatar, class: "responsive-img card-panel" %>
    </div>
  </div>
  <div class="row">
    <h2 class="center-align">Characters <small></small></h2>
    <div class="col s3 center-align">
      <h4>Ryu <small></small></h4>
      <%= image_tag "/images/ryu.jpg", size: "320x426", class: "responsive-img" %>
    </div>
    <div class="col s3 center-align">
      <h4> Ken <small></small></h4>
      <%= image_tag "/images/ken.jpg", size: "320x426", class: "responsive-img" %>
    </div>
    <div class="col s3 center-align">
      <h4>Cammy <small></small></h4>
      <%= image_tag "/images/cammy.jpg", size: "320x426", class: "responsive-img" %>
    </div>
    <div class="col s3 center-align">
      <h4>Akuma<small></small></h4>
      <%= image_tag "/images/akuma.jpg", size: "320x426", class: "responsive-img" %>
    </div>
  </div>
</div>
