
<div class="container">
  <h3 class="center-align">Character Combos</h3>

  <!-- <form>
    <input type="text" ng-model="combo.name">
  </form> -->
  <div class="row">
    <div class="col s12">
      <%= link_to image_tag("ps/HK.svg", :class=>"btn", :id=>"HK") %>
      <%= link_to image_tag("ps/HP.svg", :class=>"btn", :id=>"HP") %>
      <%= link_to image_tag("ps/LK.svg", :class=>"btn", :id=>"LK") %>
      <%= link_to image_tag("ps/LP.svg", :class=>"btn", :id=>"LP") %>
      <%= link_to image_tag("ps/MK.svg", :class=>"btn", :id=>"MK") %>
      <%= link_to image_tag("ps/MP.svg", :class=>"btn", :id=>"MP") %>
      <%= link_to image_tag("ps/QCB.svg", :class=>"btn", :id=>"QCB") %>
      <%= link_to image_tag("ps/QCF.svg", :class=>"btn", :id=>"QCF") %>
      <%= link_to image_tag("ps/DOWNLEFT.svg", :class=>"btn", :id=>"DOWNLEFT") %>
      <%= link_to image_tag("ps/DOWNRIGHT.svg", :class=>"btn", :id=>"DOWNRIGHT") %>
      <%= link_to image_tag("ps/DOWN.svg", :class=>"btn", :id=>"DOWN") %>
      <%= link_to image_tag("ps/LEFT.svg", :class=>"btn", :id=>"LEFT") %>
      <%= link_to image_tag("ps/RIGHT.svg", :class=>"btn", :id=>"RIGHT") %>
      <%= link_to image_tag("ps/UPLEFT.svg", :class=>"btn", :id=>"UPLEFT") %>
      <%= link_to image_tag("ps/UPRIGHT.svg", :class=>"btn", :id=>"UPRIGHT") %>
      <%= link_to image_tag("ps/UP.svg", :class=>"btn", :id=>"UP") %>
    </div>

  </div>
  <div class="row">
    <div class="col s12">
      <ul id="combos-list">

      </ul>
    </div>
  </div>
</div>
