
<div class="container">
  <h3 class="center-align">Character Combos</h3>

  <!-- <form>
    <input type="text" ng-model="combo.name">
  </form> -->
  <div class="row card combo-input">
    <div class="col s6">
      <h3>Buttons</h3>
      <%= link_to image_tag("ps/HK.svg", :class=>"btn white", :id=>"HK") %>
      <%= link_to image_tag("ps/HP.svg", :class=>"btn white", :id=>"HP") %>
      <%= link_to image_tag("ps/LK.svg", :class=>"btn white", :id=>"LK") %>
      <%= link_to image_tag("ps/LP.svg", :class=>"btn white", :id=>"LP") %>
      <%= link_to image_tag("ps/MK.svg", :class=>"btn white", :id=>"MK") %>
      <%= link_to image_tag("ps/MP.svg", :class=>"btn white", :id=>"MP") %>
    </div>
    <div class="col s6">
      <h3 >Directions</h3>
      <%= link_to image_tag("ps/QCB.svg", :class=>"btn white", :id=>"QCB") %>
      <%= link_to image_tag("ps/QCF.svg", :class=>"btn white", :id=>"QCF") %>
      <%= link_to image_tag("ps/DOWNLEFT.svg", :class=>"btn white", :id=>"DOWNLEFT") %>
      <%= link_to image_tag("ps/DOWNRIGHT.svg", :class=>"btn white", :id=>"DOWNRIGHT") %>
      <%= link_to image_tag("ps/DOWN.svg", :class=>"btn white", :id=>"DOWN") %>
      <%= link_to image_tag("ps/LEFT.svg", :class=>"btn white", :id=>"LEFT") %>
      <%= link_to image_tag("ps/RIGHT.svg", :class=>"btn white", :id=>"RIGHT") %>
      <%= link_to image_tag("ps/UPLEFT.svg", :class=>"btn white", :id=>"UPLEFT") %>
      <%= link_to image_tag("ps/UPRIGHT.svg", :class=>"btn white", :id=>"UPRIGHT") %>
      <%= link_to image_tag("ps/UP.svg", :class=>"btn white", :id=>"UP") %>
    </div>
  </div>
  <div class="row card center-align">
    <h3> Current Combo</h3>
    <div class="col s12">

      <ul id="combos-list">

      </ul>
    </div>
  </div>
  <div class="row center-align">
    <div class="col s12">
      <button type="button" class="btn blue" onclick="">Save Combo</button>
    </div>
  </div>
</div>
