<!DOCTYPE html>
<html>
<head>
    <%= csrf_meta_tags %>
  <title>Perrrfect</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <%= favicon_link_tag '/images/favicon.ico' %>

  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
</head>
<body ng-app="comboTime" ng-controller="ComboMaker">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper black">
        <a href="/" class="brand-logo"> <%= image_tag "/images/hadoken.gif", class: "responsive-img f" %> </a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <% if current_user %>
              <li><%= link_to "Profile", user_path(current_user) %></li>
              <li><%= link_to "Games", games_path %></li>
              <li><%= link_to "Edit", edit_user_path(current_user) %></li>
              <li><%= link_to "Log Out", logout_path %></li>
                <% else %>
              <li><%= link_to "Sign Up", new_user_path %></li>
              <li><%= link_to "Log In", login_path %></li>
              <li><%= link_to "Games", games_path %></li>
            <% end %>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <% if current_user %>
            <li><%= link_to "Profile", user_path(current_user) %></li>
            <li><%= link_to "Edit", edit_user_path(current_user) %></li>
            <li><%= link_to "Log Out", logout_path %></li>
              <% else %>
            <li><%= link_to "Sign Up", new_user_path %></li>
            <li><%= link_to "Log In", login_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>


  <!-- Messages for loggin in and out -->
  <% flash.each do |name, msg| %>
  <p>
    <small> <%= name.capitalize %>: <%= msg %> </small>
  </p>
  <% end %>
<main>

<%= yield %>

</main>
  <footer class="page-footer black">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Perrrfect</h5>
          <p class="grey-text text-lighten-4">Practice makes perfect</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <!-- Buttons to be added  -->
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2016 Breon Knight
      </div>
    </div>
  </footer>
</body>
</html>
